@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$ff-regular: 'Lato', sans-serif;

$fw-normal: 400;
$fw-bold: 700;
$fw-bolder: 900;

$white: #fff;
$light-gray: #EEF1F8;
$dark-gray: #26303C;